@{
    const string SiteTitle = "GitHub Repo-compare";
    
    string viewDataTitle = (ViewData["Title"] as string) ?? string.Empty;
    var title = !string.IsNullOrWhiteSpace(viewDataTitle) ? $"{viewDataTitle} - {SiteTitle}" : SiteTitle;
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    
    <environment names="Development">
        <link rel="stylesheet" href="~/jspm_packages/github/twbs/bootstrap@@@(LibraryVersions.Bootstrap)/css/bootstrap.css" />
        <link rel="stylesheet" href="~/jspm_packages/github/FortAwesome/Font-Awesome@@@(LibraryVersions.FontAwesome)/css/font-awesome.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/@(LibraryVersions.Bootstrap)/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/@(LibraryVersions.FontAwesome)/css/font-awesome.min.css" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <div class="site-wrap">
        @RenderBody()
    </div>

    <div class="site-footer">
        <div class="container">
            <footer class="well well-sm text-info small">
                &copy; @DateTimeOffset.Now.Year - @SiteTitle
            </footer>
        </div>
    </div>
    
    @RenderSection("scripts", required: false)

    @Html.Partial("_Analytics")
</body>
</html>
